/* mo way home fonts import */
@font-face {
  font-family: "Spiderman"; /* N'importe quel nom que tu veux */
  src: url("../fonts/Far-From.otf"); /* La ou se trouve la police */
}

/* Custom proprieties */

:root {
  --primary-red: #b11313;
  --primary-blue: #114c92;
  --primary-yellow: #f1c530;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.986);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* btn style */

body .btn {
  height: 4.2rem;
  border-radius: 13px;
  padding: 0 1.6rem;
  font-weight: 600;
}

.top-nav {
  background-color: var(--primary-red);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.089);
}

/* utilities start */
.text-red,
.text-red:hover {
  color: var(--primary-red);
}

.bg-red {
  background-color: var(--primary-red);
}

.bg-yellow,
.top-nav--yellow {
  background-color: var(--primary-yellow);
}

.top-nav--blue,
.bg-blue {
  background-color: var(--primary-blue);
}

.text-justify {
  text-align: justify;
}

.gaped {
  gap: 2%;
}
/* utilities end */

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.918);
}

.main-header {
  height: clamp(50rem, 92vh, 68rem);
  background-size: cover;
  background-position: center;
}

.home-header {
  background-image: url(../images/Illustration/img1.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.enemy-header {
  background-image: url(../images/Illustration/img7.png);
}

.hero-header {
  background-image: url(../images/Illustration/img19.png);
}

.about-header {
  background-image: url(../images/Illustration/img5-miror.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.heading {
  font-family: "Spiderman", sans-serif;
  line-height: 145%;
}

.heading-primary {
  font-size: 8rem;
}

.enemy-header .heading-primary {
  line-height: 50%;
}

.simple-paragraph {
  width: clamp(90%, 60%, 45ch);
}

section,
footer {
  padding: 5.6rem 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.cinema-section .row {
  gap: 2%;
}

.vilain-section .row {
  gap: 8%;
}

.cinema-section figcaption {
  text-align: justify;
  max-height: 22.8rem;
  overflow-y: auto;
  padding: 0 1%;
}

.cinema-section figcaption::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.062);
  border-radius: 5px;
}

.cinema-section figcaption::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #ffffff6b;
}

.section-become {
  background-image: url(../images/Illustration/img5.png);
  background-position: left;
}

.section-become {
  background-color: var(--primary-blue);
}

.vilain-section {
  background-color: var(--primary-yellow);
}

.vilain-section [class^="col"] {
  border: solid 5px #121212b4;
  border-top: none;
  padding: 0;
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.171);
}

.vilain-section [class^="col"] img {
  width: 100%;
}

.vilain-section [class^="col"] .description {
  padding: 4%;
}

form .form-control {
  height: 3.8rem;
  border-radius: 2rem;
  padding-left: 1.6rem;
  font-size: 1.2rem;
  font-family: inherit;
}

form .form-control:focus,
form .form-control:active {
  border: none;
}

.section-newsletter {
  background-image: url(../images/Illustration/img6.png);
  background-position: right;
}

.section-newsletter form {
  width: 75%;
}

.section-friend img[alt="Harry"] {
  top: 90%;
  right: -50%;
  transform: translate(-50%, -50%);
}

.section-value {
  padding: 6.4rem;
}

.section-value .row {
  gap: 3%;
  align-items: center;
}

.section-foundation {
  background-image: url(../images/Illustration/img20.png);
}

.section-capacity .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}

.section-capacity .box p {
  text-align: justify;
}

.section-friend .friends {
  margin-top: 6%;
}

.avengers-section-wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}

.section-universe {
  height: 100%;
  background-image: url(../images/Illustration/img33.png);
  padding: 0;
}

.section-universe .col {
  background-color: hsla(213, 79%, 32%, 0.637);
  padding: 5.6rem 2%;
}

.section-contact input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 2rem;
}

.section-contact :is( input:nth-child(n + 1):nth-child(-n + 3)) {
  height: 4.2rem;
  margin-bottom: 2.4rem;
  color: inherit;
  font-family: inherit;
}

.section-contact input::placeholder {
  color: rgba(255, 255, 255, 0.459);

}

.section-contact .message-input {
  height: 12rem;
}

.section-contact input {
  outline: none;
  text-indent: 1.6rem;
}

footer {
  background-color: #000;
}

.audio-box {
  text-align: center;
  padding-top: 2.4rem;
}

/* .audio-box audio::-webkit-media-controls-panel {
  background-color: var(--primary-red);
} */

footer .form-select {
  display: inline-block;
  height: 3.2rem;
  border: none;
  width: 18rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  padding-left: 1rem;
}

footer .social-link {
  margin-top: 4.6rem;
}

footer .social-link .nav-item {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  footer .navbar-brand {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .modifier {
    position: absolute;
    right: 0;
    top: 0;
  }

  .section-friend {
    margin-top: 3.2rem;
    text-align: center;
  }

  .section-friend img[alt="Harry"] {
    position: static !important;
    transform: translate(0);
    margin-top: 2.4rem;
  }

  .section-friend p {
    margin: 0 auto;
  }
  
}
@media only screen and (max-width: 768px) {
  .top-nav {
    background-color: transparent;
    box-shadow: none;
  }

  .absolute-nav {
    position: absolute;
    top: 8px;
    left: 5%;
  }
  .heading-primary {
    font-size: 260%;
  }

  section {
    padding: 3.2rem 0;
  }

  .cinema-section figcaption {
    text-align: center;
  }

  .simple-paragraph {
    margin: 0 auto;
    text-align: center;
  }

  .section-newsletter {
    background-position: bottom;
  }

  .section-newsletter form {
    width: 100%;
  }

  .vilain-section [class^="col"]:not(:first-child) {
    margin-top: 3.2rem;
  }

  .section-newsletter {
    background-size: 60%;
    background-position: bottom right;
  }

  .section-capacity .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0%;
  }
}

@media only screen and (max-width: 536px) {
  .top-nav .navbar-brand img:not(:nth-child(2)) {
    height: 4rem;
  }

  .container {
    padding: 0 8%;
  }

  footer .navbar-brand img {
    width: 70%;
  }

  .section-value {
    padding: 6.4rem 3%;
  }

  .simple-paragraph {
    width: 100% !important;
  }

  .section-capacity .wrapper {
    gap: 1%;
  }
}